@import '../settings/config';
@import '../mixins/responsive';
@import '../mixins/helpers';

.btn {
  @include margin-fix;
  border: .125rem solid $melon;
  color: $melon !important;
  display: block;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  text-align: center;
  max-width: 16rem;

  @media #{$mq-m} {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 1rem;
  }

  &:hover {
    cursor: pointer;
  }

  &--alternate {
    border: .125rem solid $white;
    color: $white !important;
  }
}
