@import '../settings/config';
@import 'responsive';
@import "helpers";

@mixin font-family {
  font-family: 'VestaPro', sans-serif;
  font-weight: 400;

  strong,
  b {
    font-weight: 700;
  }

  em,
  i {
    font-style: italic;
    font-weight: 400;
  }
}

@mixin font-family--serif {
  font-family: 'TiemposHeadline', serif;
  font-weight: 600;

  strong,
  b {
    font-weight: 600;
  }

  em,
  i {
    font-style: italic;
    font-weight: 600;
  }
}


// font sizes and line heights

@mixin font-size--xs {
  font-size: .75rem;
  line-height: 1.3125;

  @media #{$mq-s} {
    font-size: .875rem;
  }
}

@mixin font-size--s {
  font-size: .875rem;
  line-height: 1.3125;

  @media #{$mq-s} {
    font-size: 1rem;
  }
}

@mixin font-size--m {
  font-size: 1rem;
  line-height: 1.3125;

  @media #{$mq-s} {
    font-size: 1.125rem;
  }
}

@mixin font-size--l {
  font-size: 1.125rem;
  line-height: 1.3125;

  @media #{$mq-s} {
    font-size: 1.25rem;
  }
}

@mixin font-size--xl {
  font-size: 1.75rem;
  line-height: 1.125;

  @media #{$mq-s} {
    font-size: 2rem;
  }
}

@mixin font-size--xxl {
  font-size: 2.5rem;
  line-height: 1.125;

  @media #{$mq-s} {
    font-size: 3.5rem;
  }
}

@mixin font-size--xxxl {
  font-size: 4rem;
  line-height: 1;

  @media #{$mq-s} {
    font-size: 5rem;
  }
}


// font colors

@mixin font-colors {
  color: $gray-dark;

  a {
    color: $gray-dark;
  }

  h1,
  h2,
  h3,
  blockquote {
    color: $melon;
  }

  h1 {

    strong,
    b {
      box-shadow: inset 0 -1.1375em 0 0 $melon, .25em 0 0 -.25em $melon, -.25em 0 0 -.25em $melon;
      color: $white;
      font-style: italic;

      &::before,
      &::after {
        content: '\00a0';
      }
    }

    cite {
      color: $gray-dark;
    }
  }
}

@mixin font-colors--alternate {
  color: $white;

  a {
    color: $white;
  }

  h1,
  h2,
  h3,
  blockquote {
    color: $white;

    strong,
    b {
      box-shadow: inset 0 -1.1375em 0 0 $white, .25em 0 0 -.25em $white, -.25em 0 0 -.25em $white;
      color: $melon;
      font-style: italic;

      &::before,
      &::after {
        content: '\00a0';
      }
    }
  }
}

// typesets

@mixin typeset {
  @include font-size--m;
  @include font-colors;
  @include font-family;

  p {
    @include margin-fix;
    hyphens: auto;
    margin-bottom: .5rem;
    margin-top: .5rem;
  }

  h1 {
    @include font-family--serif;
    @include font-size--xxl;
    @include margin-fix;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  h2 {
    @include font-family--serif;
    @include margin-fix;
    @include font-size--xl;
    margin-bottom: 2rem;
    margin-top: 4rem;
  }

  h3 {
    @include font-size--l;
    @include margin-fix;
    font-weight: 700;
    margin-top: 1rem;
  }

  blockquote {
    @include font-family--serif;
    @include font-size--l;
    @include margin-fix;
    margin-bottom: 4rem;
    margin-top: 4rem;

    cite {
      @include font-family;
      @include font-size--s;
    }
  }
}
