$ff-default: 'VestaPro', sans-serif;
$ff-serif: 'TiemposHeadline', serif;

$white: #FFFFFF;

$night: #000;
$melon: #ee445a;
$gray-dark: #454544;
$gray-light: #ececec;
$violet: #6068ad;

$check-result-link: #f33f5a;
$check-result-hover: #f12746;
$border-color: $white;

$lighten-grey: #DDDDDD;
$grey: #666666;
