@import '../mixins/responsive';
@import '../mixins/helpers';
@import '../settings/config';

.content {
  padding: 6rem 2rem;
  width: 100%;

  @media #{$mq-m} {
    padding: 6rem 4rem;
  }

  > * {
    margin: 0 auto;
    width: 100%;

    @media #{$mq-s} {
      width: 75%;
    }

    @media #{$mq-m} {
      width: 67.5%;
    }

    @media #{$mq-l} {
      width: 50%;
    }
  }

  ul {
    margin-top: 2rem;
    padding-left: 1.5rem;

    li {
      list-style-type: disc;
      margin-top: .5rem;
    }
  }

  figure {
    @include margin-fix;
    margin-bottom: 2rem;
    margin-top: 2rem;

    @media #{$mq-s} {
      width: 100%;
    }

    @media #{$mq-m} {
      width: 87.5%;
    }

    @media #{$mq-l} {
      width: 75%;
    }

    &.full-width {
      width: 100%;
    }

    img {
      display: block;
      height: auto;
      width: 100%;
    }

    figcaption {
      margin-top: 2rem;
      text-align: center;
      color: $melon;
      font-weight: 700;
    }

    &.portrait {

      img {
        margin: 0 auto;
        max-width: 12rem;
      }
    }
  }

  .video {
    @include margin-fix;
    height: 0;
    margin-bottom: 4rem;
    margin-top: 4rem;
    padding-top: 56.25%;
    width: 100%;

    @media #{$mq-m} {
      padding-top: 42.1875%;
      width: 75%;
    }

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
