@import '../settings/config';
@import '../mixins/responsive';
@import '../mixins/typography';

.page-footer {
  @include font-colors--alternate;
  @include font-size--s;
  background-color: $melon;
  display: flex;
  flex-flow: column nowrap;
  padding-top: 4rem;
  width: 100%;

  @media #{$mq-s} {
    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__info {
    padding: 2rem;
    width: 75%;

    @media #{$mq-m} {
      padding: 2rem 4rem;
      width: 50%;
    }

    &__logo {
      height: 1.4rem;
      margin-bottom: 2rem;
      width: 12.8rem;
    }

    svg {
      display: block;
      height: 1.4rem;
      margin-bottom: 2rem;
      width: 12.8rem;
    }
  }

  &__locations {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
    width: 100%;

    @media #{$mq-s} {
      flex-flow: row nowrap;
    }

    @media #{$mq-m} {
      padding: 1rem 0 1rem 2rem;
      width: 50%;
    }

    @media #{$mq-l} {
      padding: 1rem 2rem;
    }

    &__entry {
      padding: 1rem;

      @media #{$mq-m} {
        padding: 1rem 0 1rem 2rem;
      }

      @media #{$mq-l} {
        padding: 1rem 2rem;
      }
    }
  }

  &__newsletter {
    padding: 2rem;
    width: 100%;

    @media #{$mq-m} {
      padding: 2rem 4rem 4rem;
      width: 50%;
    }

    h2 {
      @include font-size--l;
      margin: 0;
    }

  }

  &__meta {
    display: flex;
    flex-flow: row nowrap;
    padding: 2rem;
    width: 100%;

    @media #{$mq-m} {
      padding: 2rem 4rem 4rem;
      width: 50%;
    }

    &__item {
      margin-right: 2rem;
    }
  }
}
