@import '../settings/config';
@import '../mixins/typography';

.page-main {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  .page--process &,
  .page--menu &,
  .page--jobs &,
  .page--meta & {
    @include font-colors--alternate;
    background-color: $melon;
  }
}
