@import '../settings/config';
@import '../mixins/responsive';

.page-header {
  align-items: center;
  display: flex;
  left: 0;
  padding: 3rem 2rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;

  @media #{$mq-m} {
    padding: 3rem 4rem;
  }

  a,
  * {
    color: $white;

    .page--home &,
    .page--default & {
      color: $white;
    }
  }

  &__logo {

    svg {
      display: block;
      height: 3.25rem;
      width: 16rem;
    }
  }
}
