@import '../settings/config';
@import '../mixins/typography';

.page {
  @include typeset;
  background-color: $white;
  display: block;
  min-height: 100vh;
  min-width: 20rem;
  overflow-x: hidden;
  width: 100%;

  &__blend {
    height: 100vh;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100000;

    div {
      background-color: $melon;
      position: absolute;
    }

    div:nth-child(1) {
      height: 50vh;
      left: 0;
      top: 0;
      width: 100vw;
    }

    div:nth-child(2) {
      height: 100vh;
      right: 0;
      top: 0;
      width: 100vw;
    }

    div:nth-child(3) {
      bottom: 0;
      height: 100vh;
      left: 0;
      width: 100vw;
    }

    div:nth-child(4) {
      height: 100vh;
      left: 0;
      top: 0;
      width: 100vw;
    }
  }

  &__content {
    background-color: $white;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    opacity: 1;
    width: 100%;
    z-index: 0;
  }

  &__main {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: auto;
    min-height: 100%;
    counter-reset: section;
  }
}
