@import '../settings/config';
@import '../mixins/responsive';

.page-text--padding {

  padding: 10.5rem 2rem 2rem 2rem;

  @media #{$mq-l} {
    padding: 8rem 4rem 2rem 4rem;
  }
}

.page-text--centered {
  width: 100%;
  margin: 0 auto 1.25rem auto;

  @media #{$mq-l} {
    width: 75%;
  }
}

.page--reports {
  background-color: $melon;
}

.additional-info {
  font-size: 1rem;
}
