@import '../settings/config';
@import '../mixins/responsive';

#react-root {
  min-height: 6rem;
  margin: 1.25rem 0 0 0;
}

.page--reports {

  .page {
    min-height: initial;
  }
}

.position-check-wrapper {
  background-color: $melon;
  color: $white;
  margin: 0;

  a {
    color: $white;
  }

  .headline--white {
    color: $white;
  }

  h2 {
    color: #fff;
    margin-bottom: 0;
  }

  .button-wrapper {
    margin-top: 20px;

    button {
      background-color: inherit;
      border-radius: inherit;
      border: .125rem solid #fff;
      color: #fff!important;
      display: inline-block;
      font-weight: 700;
      margin-top: 1rem;
      padding: .5rem 1rem;
    }
  }

  #position-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .result-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .error {
        margin-bottom: 1.25rem;
      }

      .result-text {
        font-size: 1.125rem;
        margin: 1.25rem 0 2.375rem 0;
      }

      .cta-text {
        margin-bottom: 1.25rem;
      }

      .result-request {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        width: 100%;

        input {
          padding: 0.625rem 1.25rem;
          font-size: 1.125rem;
          margin: 0 0 1.25rem 0;
        }

        button {
          padding: 0.625rem;
          font-size: 1.125rem;
          border: none;
        }
      }
    }
  }

  .text {
    margin: 1.125rem 0 2.5rem 0;

    label:before {
      border: none;
      background-color: rgba(255, 255, 255, .5);
      width: 1.875rem;
      height: 1.875rem;

      @media #{$mq-m} {
        width: 1.25rem;
        height: 1.25rem;
      }
    }

    input[type="radio"] {

      &+label:before {
        transition: background-color 150ms ease-in-out;
        will-change: backbground-color;
      }

      &+label:hover:before {
        background-color: $white;
        cursor: pointer;
      }

      &:checked+label::before {
        background-color: $white;
      }
    }

    .thesis-wrapper {
      flex-direction: column;
      align-items: baseline;

      @media #{$mq-m} {
        flex-direction: row;
        align-items: initial;
      }

      .thesis-left {
        margin-bottom: 10px;

        @media #{$mq-m} {
          margin: 0;
        }

        @media #{$mq-l} {
          width: 70%;
        }
      }
    }
  }

  .progress-item {
    margin: 1.5rem 0;

    .progress-percent {
      top: 0.375rem !important;
      color: $night;

      @media #{$mq-l} {
        top: 0 !important;
      }
    }

    .progress-result {
      border-top: 0.0625rem solid $white;
      padding: 0.625rem 0 0 0;
      font-style: italic;
      font-weight: bold;
    }

    .progress-result-text {
      margin: 0.75rem 0;
    }

    .progress-wrapper {
      width: 100% !important;
      background-color: rgba(255, 255, 255, .5);

      @media #{$mq-l} {
        width: 21.88rem !important;
      }
    }
  }
}
