@import '../settings/config';

.results-headline {
  border-bottom: 1px solid $white;
  padding: 0 0 20px 0;
}

.results {
  ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0 0 20px 0;

    li {
      padding: 20px 0 20px 10px;
      transition: padding .3s ease-in-out;
      will-change: padding;
      background-color: $check-result-link;
      margin: 0 0 10px 0;

      &:hover {
        background-color: $check-result-hover;
        padding: 20px 0 20px 30px;
        cursor: pointer;
      }

      a {
        text-decoration: none;
        color: $white;
      }
    }
  }
}

.page--results,
.page--result {

  .page-header {
    a,
    * {
      color: $melon;

      .page--home &,
      .page--default & {
        color: $melon;
      }
    }
  }
}
