@import '../settings/config';
@import '../mixins/responsive';
@import '../mixins/typography';

.title {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  padding: 12rem 2rem 0;
  width: 100%;

  .page--default & {
    @include font-colors--alternate;
    background-color: $melon;
    padding-bottom: 8rem;
  }

  @media #{$mq-m} {
    padding: 12rem 4rem 0;
  }

  &__text {
    width: 100%;

    @media #{$mq-s} {
      width: 75%;
    }

    @media #{$mq-m} {
      width: 67.5%;
    }

    @media #{$mq-l} {
      width: 50%;
    }
  }
}

.page__reports {

  .page-text--centered {

    h1 {
      strong {
        box-shadow: inset 0 -1.1375em 0 0 $white, 0.25em 0 0 -0.25em $white, -0.25em 0 0 -0.25em $white;
        color: $melon;
      }
    }
  }
}
