@import '../settings/config';
@import '../mixins/responsive';
@import '../mixins/typography';

.title-home {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 100vh;
  width: 100%;

  @media #{$mq-m} {
    padding-top: 6rem;
  }

  &__text {
    @include font-colors--alternate;
    margin-bottom: auto;
    margin-top: auto;
    padding: 12rem 2rem 4rem;
    z-index: 2;

    @media #{$mq-s} {
      width: 87.5%;
    }

    @media #{$mq-m} {
      padding: 8rem 4rem 4rem;
      width: 75%;
    }

    @media #{$mq-l} {
      width: 50%;
    }

    h1 strong {
      color: $violet;
    }

    sub {
      font-style: italic;
    }
  }

  &__cta {
    @include font-colors--alternate;
    align-self: flex-end;
    background-color: $melon;
    margin-top: auto;
    padding: 3rem 2rem;
    width: 75%;
    z-index: 3;

    @media #{$mq-s} {
      width: 67.5%;
    }

    @media #{$mq-m} {
      padding: 3rem 4rem;
      width: 50%;
    }
  }

  &__image {
    background-image: url('../images/leuchtturm.jpg');
    background-position: center right;
    background-size: cover;
    flex: 1 0 auto;
    height: 100%;
    left: 0;
    order: 1;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}
