{% extends 'layout.twig' %}

{% block title %}
    {{ config["introHeadline"] }}
{% endblock title %}

{% block styles %}
    {{ parent() }}

    {{ css("media/plugins/gb/position-check/css/app.bundle.css") }}
{% endblock styles %}

{% block javascript %}
    {{ parent() }}

    {{ js("media/plugins/gb/position-check/js/app.bundle.js") }}
{% endblock javascript %}

{% block content %}
    <main class="position-check-wrapper">
        <h1>{{ config["introHeadline"]|striptags('<strong>') }}</h1>
        <div class="text">
            <p>{{ config["introText"]|raw }}</p>
            <div id="react-root" class="cloaked" data-state='{{ json }}'></div>
        </div>
        <div id="position-result"></div>
    </main>
{% endblock %}
