{% extends 'layout.twig' %}

{% block title %}
    Positionscheck Bericht
{% endblock title %}

{% block content %}
    <main class="position-check-wrapper">
        <h1>Bericht</h1>
        <div class="text">
            {% for block in container %}
                <h2>{{ block.headline }} {{ block.totalResultPercent }}</h2>
                <ol>
                    {% for question in block.questions %}
                        <li>{{ question.question }} - {{ question.value }} Punkte</li>
                    {% endfor %}
                </ol>
            {% endfor %}
        </div>
    </main>
{% endblock %}
