{% extends 'layout.twig' %}

{% block title %}
    {{ constants["HEADLINE_REPORTS_OVERVIEW"] }}
{% endblock title %}

{% block content %}
    <main class="position-check-wrapper">
        <h1 class="results-headline">{{ constants["HEADLINE_REPORTS_OVERVIEW"] }}</h1>
        <div class="results">
            <ul>
                {% for item in props %}
                    <li><a href="{{ item.url }}" target="_self">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </main>
{% endblock %}
