{% extends 'layout.twig' %}

{% block header %}
{% endblock header %}

{% block content %}
<main class="page-text--padding">
  <header class="intro page-text--centered">
    <h1>{{ page.title.html }}</h1>
    <a href="{{ site.url }}">&larr; Zurück zur Startseite</a>
  </header>
  <div class="text page-text--centered">
    {{ page.text.kt|raw }}
  </div>
</main>
{% endblock %}
