{% extends 'layout.twig' %}

{% set filtered = site.index.filterBy('template', 'reports') %}
{% set checkUrl = filtered.first.url %}
{% set listedCount = filtered.listed.count %}

{% block content %}
    <main class="page-main">
        <header class="title-home">
            <div class="title-home__text">
                <h1>{{ site.headline.kt|striptags('<strong>, <br>')|raw }}</h1>
                <sub>{{ site.subtitle.html.widont|raw }}</sub>
            </div>
            <div class="title-home__image"></div>
            {% if listedCount == 1 %}
                <div class="title-home__cta">
                    <p>{{ site.ctaText.html|raw }}</p>
                    <a class="btn btn--alternate" href="{{ checkUrl }}">Jetzt Check starten</a>
                    <a href="#content" data-scroll="">Weitere Informationen</a>
                </div>
            {% endif %}
        </header>
        <div class="content" id="content">
            {{ site.homeText.kt|raw }}
            {% if listedCount == 1 %}
                <p><a class="btn" href="{{ checkUrl }}">Jetzt Check starten</a></p>
            {% endif %}
        </div>
    </main>
{% endblock %}
