{% set infoLogo = site.logoLink %}
{% if site.logoLink is empty %}
    {% set infoLogo = site.url %}
{% endif %}

<!doctype html>
<html lang="de">
<head>

    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, shrink-to-fit=no">

    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">

    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/images/appicon.png">

    <meta property="og:image" content="/assets/images/fbicon.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1024">
    <meta property="og:image:height" content="1024">

    <title>{% block title %}{{ site.title }} | {{ page.title }}{% endblock title %}</title>

    {{ inlineRenderer('/assets/criticals.bundle.css', 'style', true)|raw }}

    <link rel="stylesheet" type="text/css" href="/assets/app.bundle.css">

    {% block styles %}
    {% endblock styles %}

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MTCGTJB');</script>
    <!-- End Google Tag Manager -->
</head>
<body class="page page__{{ page.template }}" id="{{ page.slug }}">

<script src="https://analytics-cdn.friendly.is/fa.js" id="friendlyanalytics-6"></script>

<noscript>
  <img src="https://analytics.friendly.is/fa6.gif"/>
</noscript>

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTCGTJB"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="page">
    {% block header %}
        <header class="page-header">
            <a class="page-header__logo" href="{{ infoLogo }}">{% include 'svg/logo.twig' with {'claim': 'true'} %}</a>
        </header>
    {% endblock header %}

    {% block content %}
    {% endblock content %}
</div>

{% block footer %}
    <footer class="page-footer">

        <div class="page-footer__locations">
            {% set structure = site.locations.toStructure() %}
            {% for item in structure %}
                <div class="page-footer__locations__entry">
                    <a href="{{ item.googlemaps }}" target="_blank" rel="noreferrer" title="Bei Google Maps anzeigen">
                        <p>
                            <strong>{{ item.name.html|raw }}</strong>
                        </p>
                        <p>
                            {{ item.address.html|raw }}<br>
                            {{ item.zip.html|raw }} {{ item.city.html|raw }}
                        </p>
                    </a>
                    <p>
                        <a href="tel:{{ item.phone }}"
                           title="Die Telefonnummer {{ item.phone }} anrufen">{{ item.phone }}</a>
                        <br><a href="tel:{{ item.fax }}"
                               title="Ein Fax an die Nummer {{ item.fax }} senden">{{ item.fax }}</a>
                    </p>
                    <p>
                        <a href="mailto:{{ item.email }}"
                           title="Eine E-Mail an die Adresse {{ item.email }} senden">{{ item.email }}</a>
                    </p>
                </div>
            {% endfor %}
        </div>

        <nav class="page-footer__meta">
            {% for item in pages.filterBy('template', 'default').listed %}
                <a class="page-footer__meta__item" href="{{ item.url }}"
                   title="Die Seite {{ item.title.html|raw }} anzeigen">{{ item.title.html|raw }}</a>
            {% endfor %}
        </nav>

        <div class="page-footer__info">
            <a class="page-footer__info__logo"
               href="{{ infoLogo }}">{% include 'svg/logo.twig' with {'claim': 'false'} %}</a>
            {{ site.companyInfo.kt|raw }}
        </div>

        {% if site.newsletterPage is not empty %}
            <div class="page-footer__newsletter">
                <a href="{{ site.newsletterPage }}" target="_blank" title="Die Newsletter Anmeldung aufrufen">
                    <sub>Newsletter</sub>
                    <h2>Abonniere echt gute Impulse.</h2>
                </a>
            </div>
        {% endif %}

        <div class="page-footer__logo">
        </div>

    </footer>
{% endblock footer %}

<script src="/assets/app.bundle.js" deferr></script>

{% block javascript %}
{% endblock javascript %}

</body>
</html>
