{% extends 'layout.twig' %}

{% block title %}
    {{ config["introHeadline"]|striptags() }}
{% endblock title %}

{% block styles %}
    {{ parent() }}

    {{ css("media/plugins/gb/position-check/css/app.bundle.css") }}
{% endblock styles %}

{% block javascript %}
{{ parent() }}

{{ js("media/plugins/gb/position-check/js/app.bundle.js") }}
{% endblock javascript %}

{% block content %}
    <main class="position-check-wrapper page-text--padding">
        <div class="page-text--centered">
            <h1 class="headline--white">{{ config["introHeadline"]|striptags('<strong>')|raw }}</h1>
            <a href="{{ site.url }}">&larr; Zurück zur Startseite</a>
            <div class="text">
                <p>{{ config["introText"]|raw }}</p>
                <div id="react-root" class="cloaked" data-state='{{ json }}'></div>
            </div>
            <div id="position-result"></div>
        </div>
    </main>
    <aside class="page-main">
        <div class="content">
            {{ page.contact.kt|raw }}
        </div>
    </aside>
{% endblock %}
