{% extends 'layout.twig' %}

{% block title %}
    Positionscheck Report
{% endblock title %}

{% block content %}
    <main class="page-text--padding">
        <header class="intro page-text--centered">
            <h1>Report</h1>
            <a href="/results">&larr; Zurück zur Übersicht</a>
        </header>
        <div class="text page-text--centered">
            <div class="text">
                {% for block in container %}
                    <h2>{{ block.headline }} {{ block.totalResultPercent }}</h2>
                    <ol>
                        {% for question in block.questions %}
                            <li>{{ question.question }} ({{ question.value }} Punkte)</li>
                        {% endfor %}
                    </ol>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
