{% extends 'layout.twig' %}

{% block title %}
    {{ constants["HEADLINE_REPORTS_OVERVIEW"] }}
{% endblock title %}

{% block content %}
    <main class="page-text--padding">
        <header class="intro page-text--centered">
            <h1>{{ constants["HEADLINE_REPORTS_OVERVIEW"] }}</h1>
            <a href="{{ site.url }}">&larr; Zurück zur Startseite</a>
        </header>
        <div class="text page-text--centered">
            <div class="results">
                <ul>
                    {% for item in props %}
                        <li><a href="{{ item.url }}" target="_self">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>
{% endblock %}
